.fracox-card {
  background-color: transparent;
  width: 100%;
  height: 150px;
}

.word {
  padding: 10px;
}

.fracox-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.75s;
  transform-style: preserve-3d;
}

.fracox-card:hover .fracox-card-inner {
  transform: rotateX(180deg);
}

.fracox-card-front, .fracox-card-back {
  position: absolute;
  width: 100%;
  height: 150px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 25px;
  border: 2px solid;
}

.fracox-card-front {
  background-color: rgb(194,194,194);
  color: rgb(8,79,161);
  padding: 0px;
  display: flex;
}

.fracox-card-back {
  background-color: rgb(8,79,161);
  color: white;
  padding: 0px;
  display: flex;
  transform: rotateX(180deg);
  border-color: rgb(194,194,194);
}

.fracox-card-front h1 {
  margin:auto auto;
  text-align: center;
}

.fracox-card-back h1 {
  margin:auto auto;
  text-align: center;
}

.header, .footer{
  background-color: rgb(8,79,161);
}

#drop{
  background-color: rgb(8,79,161);
}

#drop a{
  background-color: rgb(8,79,161);
}